$main-bg: #fff;
$main-color: #4267b2;
$second-color: #000;

$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-white: #fff;

$btn-main-bg: $main-bg;
$btn-main-color: #fff;

$bg-red: #ff0000;
$bg-orange: #fbb96b;
$bg-black: #000;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$height-header: 7rem;
$height-header-shrink: 5rem;