.cart {
    margin-top: $height-header;
    @include flex(flex-start, center);
    margin-right: 4rem;
    margin-left: 4rem;

    &__overview {
        width: 30%;
        margin-top: 4rem;

        &__quantity,
        &__total-price {
            @include flex(center, space-between);

            p {
                font-size: 1.2rem;
                font-weight: 500;
                color: $txt-main-color;
            }

            span {
                font-weight: 600;
                font-size: 1.5rem;
                color: $main-color;

            }
        }

        &__total-price {
            margin: 3rem 0;
        }

        &__booking {
            margin: 2rem 0;
        }
    }

    &__info {
        width: 70%;

        .col-12 {
            width: 100%;
        }
    }

    &__item {
        @include flex(center, space-between);

        &__image {
            width: 150px;

            &>img {
                width: 100%;
                height: 100%;
            }
        }

        &__name {
            font-size: 1.5rem;
            font-weight: 600;
            color: $txt-main-color;
        }

        &__price {
            font-size: 1.2rem;
            font-weight: 600;
            color: $txt-main-color;
        }

        &__quantity {
            @include flex(center, center);

            i {
                font-size: 1.2rem;
                padding: .5rem;
                border: 1px solid $txt-second-color;
                cursor: pointer;

                &.disable {
                    opacity: .5;
                    pointer-events: none;
                }
            }

            span {
                font-size: 1.2rem;
                padding: .3rem .5rem;
                border: 1px solid $txt-second-color;
            }
        }

        &__delete {
            i {
                font-size: 1.5rem;
                padding: .5rem;
                cursor: pointer;
            }
        }
    }

    &__error {
        height: 100vh;
        margin-top: 4rem;
    }
}

.cart-container {
    position: relative;
}