.product-detail {
    margin-top: $height-header;


    &__info {
        @include flex(flex-start, center);
        margin-left: 4rem;
        margin-right: 4rem;

        &__image {
            width: 30%;
        }

        &__info {
            width: 70%;
            margin-left: 4rem;

            .name {
                font-size: 2rem;
                font-weight: 600;
                color: $txt-main-color;
            }

            .price {
                font-size: 1.5rem;
                font-weight: 500;
                color: $main-color;
                margin: 1rem 0;
            }

            .option {
                @include flex(center, center);
                margin: 2rem 0;

                &__size {
                    width: 50%;

                    &__title {
                        margin-bottom: .5rem;
                        font-weight: 500;
                        font-size: 1.2rem;
                        color: $txt-main-color;
                    }

                    &__item {
                        padding: .5rem .7rem;
                        margin-right: .5rem;
                        display: inline-block;
                        border: 1px solid $txt-second-color;
                        cursor: pointer;

                        &:hover {
                            border: 1px solid $bg-red;
                            transition: border .3s ease;
                        }

                        &.active {
                            border: 1px solid $bg-red;
                        }
                    }
                }

                &__quantity {
                    width: 50%;

                    &__title {
                        margin-bottom: .5rem;
                        font-weight: 500;
                        font-size: 1.2rem;
                        color: $txt-main-color;
                    }

                    &__info {
                        @include flex(center, flex-start);

                        &__number {
                            padding: 1rem;
                            border: 1px solid $txt-second-color;
                            font-size: 1.4rem;
                            font-weight: 500;
                            color: $txt-main-color;
                        }

                        &__change {
                            @include flex(center, center);
                            flex-direction: column;

                            &>i {
                                padding: .44rem;
                                border: 1px solid $txt-second-color;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            &__btn {
                @include flex(center, flex-start);
                margin-bottom: 4rem;

                .btn-left {
                    width: 50%;
                }

                .btn-right {
                    width: 50%;
                }
            }

            .description {
                &__title {
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: $txt-main-color;
                    margin-bottom: 1rem;
                }

                &>p {
                    margin-bottom: 4rem;
                }
            }

            &__policy {

                &__item {
                    @include flex(center, flex-start);
                    margin-bottom: 2rem;

                    &>i {
                        margin-right: 1rem;
                    }

                    &>h2 {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

.product-similar {
    margin: 0 4rem 4rem 4rem;

    &__title {
        font-size: 1.4rem;
        font-weight: 500;
        color: $txt-main-color;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
}