.admin-container {
    background-image: linear-gradient(#1f4037, #99f2c8);
    @include flex(center, center);
    height: 100vh;
}

.admin-login {
    width: 600px;
    background-color: $main-bg;
    border-radius: 20px;
    border: 1px solid $main-color;
    padding: 1rem 0 2rem;

    &-title {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        color: $txt-main-color;
    }
}